aioredis==2.0.0
aiosmtplib==1.1.6
anyio==3.3.1
apparmor==3.0.3
appdirs==1.4.4
application-utility==1.3.2
asgiref==3.4.1
async-timeout==3.0.1
autopep8==1.5.7
beautifulsoup4==4.9.3
blinker==1.4
bs4==0.0.1
btrfsutil==5.13.1
CacheControl==0.12.6
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2020.12.5
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
contextlib2==0.6.0.post1
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.4.8
cupshelpers==1.0
defusedxml==0.7.1
distlib==0.3.2
distro==1.5.0
dj-rest-auth==2.1.11
Django==3.2.5
django-allauth==0.45.0
django-cors-headers==3.2.1
djangorestframework==3.12.4
djangorestframework-simplejwt==4.7.1
dnspython==1.16.0
docopt==0.6.2
drf-yasg==1.20.0
email-validator==1.1.3
fakeredis==1.6.1
fastapi==0.68.1
fastapi-mail==0.4.1
filelock==3.0.12
h11==0.12.0
html5lib==1.1
httpcore==0.13.6
httpx==0.19.0
idna==3.2
inflection==0.5.1
itypes==1.2.0
Jinja2==3.0.1
keyutils==0.6
LibAppArmor==3.0.3
libtorrent===1.2.14-build-libtorrent-rasterbar-src-libtorrent-rasterbar-1.2.14-bindings-python
louis==3.18.0
Markdown==3.3.4
MarkupSafe==2.0.1
more-itertools==8.8.0
msgpack==1.0.2
netsnmp-python==1.0a1
npyscreen==4.10.5
oauthlib==3.1.1
ordered-set==4.0.2
packaging==20.9
pacman-mirrors==4.21.5
pep517==0.11.0
pep8==1.7.1
Pillow==8.3.1
ply==3.11
progress==1.5
pybotnet==0.17.0
pycairo==1.20.1
pycodestyle==2.7.0
pycparser==2.20
pycups==2.0.1
pycurl==7.43.0.6
pydantic==1.8.2
PyGObject==3.40.1
PyJWT==2.1.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-sip==12.9.0
pysmbc==1.0.23
python-multipart==0.0.5
python3-openid==3.2.0
pytz==2021.1
PyYAML==5.4.1
rados==2.0.0
rbd==2.0.0
redis==3.5.3
reportlab==3.5.68
requests==2.26.0
requests-oauthlib==1.3.0
resolvelib==0.5.5
retrying==1.3.3
rfc3986==1.5.0
rgw==2.0.0
ruamel.yaml==0.17.14
ruamel.yaml.clib==0.2.6
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.2.1
sqlparse==0.4.1
starlette==0.14.2
team==1.0
toml==0.10.2
tomli==1.2.1
typing-extensions==3.10.0.2
udiskie==2.3.3
uritemplate==3.0.1
urllib3==1.26.6
uvicorn==0.15.0
virtualenv==20.4.7
webencodings==0.5.1
